  .bayo {
    cursor: pointer;
    text-align: end;
    color: white;
   }
   .icon {
    color: white;
    font-size: medium;
    padding: 10%;
   }
   
   .title {
    cursor: pointer;
    text-align: end;
    
    
   }
  
  